{{define "main"}}
<section>
    <div>
        <h2>Create an account</h2>
        <p>Already have an account? <a href="/sign-in">Sign in</a>.</p>
        <div>
            <form id="new-user" class="new-user" action="/accounts" method="post" accept-charset="UTF-8">
                {{if not .Errors.Empty}}
                <div>
                    <ul>
                    {{range .Errors.GeneralErrors}}
                        <li>{{.}}</li>
                    {{end}}
                    </ul>
                </div>
                {{end}}
                <div>
                    <label for="user-email">Email</label>
                    {{range .Errors.FieldErrors.Email}}
                        <label>{{.}}</label>
                    {{end}}
                    <input
                        type="email"
                        autofocus
                        required
                        autocomplete="email"
                        id="user-email"
                        name="user-email">
                </div>
                <div>
                    <label for="user-password">Password</label>
                    {{range .Errors.FieldErrors.Password}}
                        <label>{{.}}</label>
                    {{end}}
                    <input
                            type="password"
                            required
                            id="user-password"
                            name="user-password">
                </div>
                <div>
                    <label for="user-password-confirmation">Password confirmation</label>
                    {{range .Errors.FieldErrors.PasswordConfirmation}}
                        <label>{{.}}</label>
                    {{end}}
                    <input
                            type="password"
                            required
                            id="user-password-confirmation"
                            name="user-password-confirmation">
                </div>
                <div>
                    <input id="tos" type="checkbox" value="1" name="tos" required>
                    <label for="tos">I've read and agree to vote for you in the next Holy Roman Empire elections.</label>
                </div>
                <div>
                    <button type="submit">Create account</button>
                </div>
            </form>
        </div>
        <div>
            <p>--- OR ---</p>
        </div>
        <div>
            <button disabled>Continue with GitHub</button>
        </div>
    </div>
</section>
{{end}}